pkgbase = esphomeyaml
	pkgdesc = Solution for your ESP8266/ESP32 projects with Home Assistant
	pkgver = 2024.5.0
	pkgrel = 0
	url = https://github.com/esphome/ESPHome
	arch = any
	license = MIT
	depends = python-setuptools
	depends = python-voluptuous
	depends = python-yaml
	depends = python-paho-mqtt
	depends = python-colorlog
	depends = python-icmplib
	depends = python-tornado
	depends = python-tzlocal
	depends = python-tzdata
	depends = python-pyserial
	depends = platformio-core
	depends = esptool
	depends = python-click
	depends = python-aioesphomeapi
	depends = python-zeroconf
	depends = python-magic
	depends = python-ruamel-yaml
	depends = python-kconfiglib
	depends = python-pyparsing
	depends = python-argcomplete
	optdepends = python-esphome-dashboard: esphome dashboard addition
	replaces = esphomeyaml
	source = https://github.com/esphome/ESPHome/archive/2024.5.0.tar.gz
	sha256sums = d0178a2c6823d5c2fac069acf62b592d9c5cac532289d92596d05c751c016787

pkgname = esphome
