pkgbase = esphomeyaml
	pkgdesc = Solution for your ESP8266/ESP32 projects with Home Assistant
	pkgver = 2024.5.5
	pkgrel = 0
	url = https://github.com/esphome/ESPHome
	arch = any
	license = MIT
	depends = python-build
	depends = python-installer
	depends = python-wheel
	depends = python-voluptuous
	depends = python-yaml
	depends = python-paho-mqtt
	depends = python-colorlog
	depends = python-icmplib
	depends = python-tornado
	depends = python-tzlocal
	depends = python-tzdata
	depends = python-pyserial
	depends = platformio-core
	depends = esptool
	depends = python-click
	depends = python-aioesphomeapi
	depends = python-zeroconf
	depends = python-magic
	depends = python-ruamel-yaml
	depends = python-kconfiglib
	depends = python-pyparsing
	depends = python-argcomplete
	optdepends = python-esphome-dashboard: esphome dashboard addition
	replaces = esphomeyaml
	source = https://github.com/esphome/ESPHome/archive/2024.5.5.tar.gz
	b2sums = 6125ab3efb87a53b8a7ae26d8e72d22c67fda7f7bb2d292d1cf839df079a002ed0af19e22758e0c724d6b312d352ac250ffa8d62ef3e00b31d360d9ecd357b58

pkgname = esphome
